<div class="expense-page-container">
  <expense-page-form (formSubmitted)="submitExpense($event)"></expense-page-form>
  <div>
    <h2 class="expense-header">You have made {{allExpensesCount$ | async}} expense claims!</h2>
  </div>
  <div class="sort-buttons-container" *ngIf="(allExpensesCount$ | async) !== 0">
    <button mat-raised-button *ngIf="!(isSortedByRecentDate$ | async)" (click)="sortByRecentDate()">
      Sort By expense date
    </button>
    <button mat-raised-button *ngIf="!(isSortedByRecentlyAdded$ | async)" (click)="sortByRecentlyAdded()">
      Sort by recently added
    </button>
  </div>
  <div class="card-container" #cardContainer>
    <div *ngIf="isSortedByRecentDate$ | async" @transferOver>
      <div *ngFor="let expense of allExpensesByDate$ | async; trackBy: identify" @inAndOut>
        <expense-card (deleteClicked)="deleteExpense(expense.id)" [expenseItem]="expense"></expense-card>
      </div>
    </div>
    <div *ngIf="isSortedByRecentlyAdded$ | async">
      <div *ngFor="let expense of allExpensesByRecentlyAdded$ | async; trackBy: identify" @inAndOut>
        <expense-card (deleteClicked)="deleteExpense(expense.id)" [expenseItem]="expense"></expense-card>
      </div>
    </div>
  </div>
</div>

